.grid {
  margin: 0 auto;
  position: relative;
}

.block {
  border: 1px solid #FFF;
  border-radius: 6px;
  box-sizing: border-box;
  height: 50px;
  position: absolute;
  transition: background-color 0.2s ease, border-width 0.2s ease, border-radius 0.2s ease;
  width: 50px;
}

  .block:hover,
  .block:focus {
    border-width: 6px;
    border-radius: 9px;
  }

.block.blue {
  background: #1414fd;
}

.block.green {
  background: #148f14;
}

.block.orange {
  background: #FFA500;
}

.block.purple {
  background: #551A8B;
}

.block.red {
  background: #ec1414;
}

.block.yellow {
  background: #fbf314;
}